doctype html
html
  head
    meta(charset="utf-8")
    title #{config.title}
    link(rel="stylesheet" href="./build/css/main-#{hash}.css")
  body
    div.s1
      div.container
        div.orangejuice
        div
          div.intro
            :marked
              Hi there, you can call me *Kinpika*, *AprilOrange* or *Seita* or whatever I don't care.

              I'm technically a Web and Hybrid app maker, I am particularly interested in Animes, Football,
              Music and Writing, available for hire now.

              You can reach me via [Twitter][twitter], [Weibo][weibo], [Telegram][telegram], 
              [Wechat][wechat] and [Email][email]. I'm keep writing stuffs on [Medium][medium] 
              and [Jianshu][jianshu]. I like to [open source][projects] the tools I made on [GitHub][github] as well.

              [twitter]: https://twitter.com/siyuejulin
              [weibo]: http://weibo.com/zengxinyu
              [github]: https://github.com/aprilorange
              [telegram]: https://telegram.me/aprilorange
              [wechat]: http://r.loli.io/bEfqIj.jpg
              [email]: mailto:kinpika@outlook.com
              [medium]: http:///medium.com/@sox
              [jianshu]: http://www.jianshu.com/users/c3ecb718fee1
              [projects]: #projects
