@import 'mixins'
$color = rgb(255, 75, 1)

body
  font 14px/1.4 "Helvetica Neue",Helvetica,Arial,sans-serif
  
a
  color #333
  text-decoration none

.container
  max-width 600px
  margin 0 auto
  
body,h1,h2,h3,h4,h5
  margin 0
  
.orangejuice
  background-image url('https://ooo.0o0.ooo/2015/08/28/55df3fe9e7524.png')
  width 360px
  height 270px
  background-size cover
  display inline-block
  
.s1
  background-color #FFC654
  min-height 100vmin
  position relative
  text-align center
  text-shadow 0px 1px rgba(255, 255, 255, 0.53)
  color $color
  .container 
    max-width 640px
  a
    color $color
    text-decoration none
    border-bottom 1px dotted @color
    &:hover
      background-color #F90
  .circle-wrapper
    position relative
    overflow hidden
    top -50px
    .circle,.circle-inner
      width 50px
      height @width
      background-color white
      border-radius 50%
      position absolute
      left 50%
      bottom -25px
      margin-left -25px
      z-index 1
      box-shadow 0px 2px 5px 0px rgba(0, 0, 0, 0.26)
      position relative
    .circle-inner
      width 30px
      height @width
      bottom -10px
      margin-left -15px
      background-color #FFC654
  .intro
    top -50px
    position relative
    font-size 22px
    display inline-block
    text-align left
    background-color white
    border-radius 4px
    box-shadow 0px 2px 5px 0px rgba(0, 0, 0, 0.26)
    padding 10px 20px
    p
      margin 0 0 15px 0
      &:last-child
        margin-bottom 0
  .footer
    margin-top 45px
    text-align left

.section
  min-height 100vmin
  .section-box
    margin-bottom 20px
  .section-left
    float left
    width 300px
    font bold 80px/1 "Helvetica Neue",Helvetica,Arial,sans-serif
    font-style italic
    padding 45px 0
  .section-main
    padding 45px 0
    padding-left 300px
    
    
#webs
  background-color #252525
  color white
  .section-title
    a
      color white